
<div class="container">
  <div class="row">
    <div class="col">

      <img src="./assets/bots.gif">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hola mi nombre es </strong> estoy aqui para diagnosticar si tienes Covid.
        <button type="button" class="btn-close" data-bs-dismiss="alert" >
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="purple" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></button>
      </div>
    </div>
    <div class="col">
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Pregunta 1</ng-template>
          <ng-template matStepContent>
            <p>¿Haz tenido fiebre?</p>
            <button mat-button matStepperNext (click)="agregarNO()">NO</button>
            <button mat-button matStepperNext (click)="agregarSI()">SI</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 2</ng-template>
          <ng-template matStepContent>
            <p>¿Ultimamente haz tenido Cansancio?</p>
            <button mat-button matStepperNext (click)="agregarNO()">NO</button>
            <button mat-button matStepperNext (click)="agregarSI()">SI</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 3</ng-template>
          <ng-template matStepContent>
            <p>¿Haz tenido problemas para respirar?</p>
            <button mat-button matStepperNext (click)="agregarNO()">NO</button>
            <button mat-button matStepperNext (click)="agregarSI()">SI</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 4 </ng-template>
          <ng-template matStepContent>
            <p>¿Te duuele tu cuerpo?</p>
            <button mat-button matStepperNext (click)="agregarNO()">NO</button>
            <button mat-button matStepperNext (click)="agregarSI()">SI</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 5</ng-template>
          <ng-template matStepContent>
            <p>¿Tienes Congestion Nasal?</p>
            <button mat-button matStepperNext (click)="agregarNO()">NO</button>
            <button mat-button matStepperNext (click)="agregarSI()">SI</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 6</ng-template>
          <p>¿haz notado un exceso de mucosidad ligera?</p>
          <button mat-button matStepperNext (click)="agregarNO()">NO</button>
          <button mat-button matStepperNext (click)="agregarSI()">SI</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 7</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperNext (click)="agregarNO()">NO</button>
          <button mat-button matStepperNext (click)="agregarSI()">SI</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 8</ng-template>
          <p>¿haz ido seguido al baño?</p>
          <button mat-button matStepperNext (click)="agregarNO()">NO</button>
          <button mat-button matStepperNext (click)="agregarSI()">SI</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Pregunta 9</ng-template>
          <p>¿Haz tenido Covid-19 antes?</p>
          <button mat-button matStepperNext (click)="agregarNO()">NO</button>
          <button mat-button matStepperNext (click)="agregarSI()">SI</button>
        </mat-step>
      </mat-stepper>
      
    </div>
  </div>